.plot-img{
    border: 2px solid black;
    padding:2px;
}

.plot-details{
    font-size: 130%;
    margin-right: 30px;
    line-height: 30px;
}

.spread-card{
    padding:70px;
}

.spread-card-sm{
    padding:30px;
}

.red-txt{
    color: red;
}

a{
    color: white;
    text-decoration: none;
    padding:20px 50px;
}

.mat-card{
    background-color: lightgreen;
}

.cancel-btn{
    margin-right: 30px;
}




.my-custom-snackbar {
    // margin: 0 !important;
    // position: absolute;
    // right: 25px;
    // top: 60px;
    
  }

